In [58]:
# Exercise #1
# Filter out all of the empty strings from the list below

places = [' ', 'Argentina', '  ', 'San Diego', '', '   ', '', 'Boston', 'New York']
# = [Argentina, San Diego, Boston, New York]

new_list = []

def fil(list):
    for i in list:
        if (i != '') and not  i.isspace():
            new_list.append(i)
            
    return new_list

fil(places)

['Argentina', 'San Diego', 'Boston', 'New York']

In [25]:
# Exercise #2
# Write an anonymous function that sorts this list by the last name...
# Hint: Use the ".sort()" method and access the key"

# .sort(key=)
authors = ["Connor Milliken", "Victor aNisimov", "Andrew P. Garfield", "David HassELHOFF", "Oprah wInfrey"]

def sortSur(nameList):
    
    nameList.sort(key=lambda name: name.split()[-1].lower())
    return nameList

sortSur(authors)

['Victor aNisimov',
 'Andrew P. Garfield',
 'David HassELHOFF',
 'Connor Milliken',
 'Oprah wInfrey']

In [77]:
# Exercise #3
# Convert the list below from Celsius to Farhenheit, using the map function with a lambda...

places = [('Nassau', 32), ('Boston', 12), ('Los Angeles', 44), ('Miami', 29)]

def fahrenheit(T):
    for i in T:
        return i[1]

fahrenheit = list(map(lambda item: [item[0], item[1]*(9/5)+32], places))

print(fahrenheit)

[['Nassau', 89.6], ['Boston', 53.6], ['Los Angeles', 111.2], ['Miami', 84.2]]

In [ ]:
# Exercise #4
# Write a recursive function to perform the fibonacci sequence up to the number passed in.

def fib(num):
    for i in range(num):
        print(f'{i+1}: {fib(i)}')
        
fib(10)